
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Love+Ya+Like+A+Sister|K2D|Sue+Ellen+Francisco|Patrick+Hand|Permanent+Marker');
body {
    background-color:#DEB887 ;
}

a {
   color: #0A0000;
   background-color: #E2DDB1; 
}

a:hover {
    color:#FF4B14;
}

#p{
    color: #211812;
    background-color: #E2DDB1 ;
    font-size: 25px;
    font-weight: bold;
    font-family:'Sue Ellen Francisco', cursive;
    font-style : Normal;
 }
 
 h1 {
    font-family:'K2D', sans-serif;
    font-size: 55px;
}
 
h2 {
    font-family:'Love Ya Like A Sister', cursive;
    font-size: 30px;
}

h3 {
    font-family:'Kaushan Script', cursive;
    font-size: 35px;
}

h4 {
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
}

div{
    background-color: #BC471C ;
    font-family: 'Permanent Marker', cursive;
    font-size: 35px;
}

.header{
    background-color: #E2DDB1;
}

.main{
    background-color: #893E23;
    width:500px;
    height: 550%;
}
