body {
    background-color:#DEB887 ;
}

a {
   color: #0A0000;
   background-color: #E2DDB1; 
}

a:hover {
    color:#FF4B14;
}

#p{
    color: #211812;
    background-color: #E2DDB1 ;
    font-size: 15px;
    font-weight: bold;
    font-family:Courier New;
    font-style : Normal;
 }
 
 h1 {
    font-family:Impact, Charcoal, sans-serif;
 }

h2 {
     font-family:Barrio	;
}
 
